<%- include("../../partials/header.ejs"); %>
<%- include("../../partials/navbar.ejs"); %>

<div id="container">

    <div id="title">
        <h2> CATEGORIAS </h2> 
    </div>

    <table>
        <thead class="header_categories">
            <th> ID </th>
            <th> Título </th>
            <th> Slug </th>
            <th> Ações </th>  
        </thead>
        <tbody>
            <!-- For each information in array "all_categories", put it in variable "category" -->
            <% all_categories.forEach(category => { %>
                <tr>
                    <td> <%= category.id %> </td>
                    <td> <%= category.title %> </td>
                    <td> <%= category.slug %> </td>
                    <td> 
                        <button class="edit_delet" id="edit" onclick="window.location.href = 'http://localhost:8080/admin/categories/edit/<%= category.id %>'"> EDITAR </button> 

                        <form method="POST" action="/categories/delete" style="display: inline;" onsubmit="confirm_delect(event, this)">
                            <input type="hidden" value="<%= category.id %>" name="id">
                            <button class="edit_delet" id="delet"> DELETAR </button> 
                        </form>
                    </td>
                </tr>
            <% }) %> 
        </tbody>
    </table>

    <button id="new_categorie" onclick="window.location.href = 'http://localhost:8080/admin/CATEGORIES/new'">  CRIAR UMA NOVA CATEGORIA </button>
</div>

<%- include("../../partials/footer.ejs"); %>

<script>
    function confirm_delect(event, form)
    {
        // Interrupt the form (prevent default) - The form not was sent
        event.preventDefault();
        
        if(confirm("Do you wanna delete this category?"))
        {
            console.log("Deleted");

            form.submit();
        }
        else
        {
            console.log("Not deleted");
        }
    }
</script>