<%- include("partials/header.ejs"); %>
<%- include("partials/homenavbar.ejs"); %>

<body>
    <div id="home_container">
        <div class="card">
            <div class="title_card">
                <h2> <%= article.title %> </h2>
            </div>
            <div class="body_card">
                <!-- The '-' makes EJS consider the formatting (the code with '<p></p> in text') -->
                <%- article.body %>
            </div>
        </div>
    </div>
</body>

<%- include("partials/footer.ejs"); %>