<%- include("partials/header.ejs"); %>
<%- include("partials/homenavbar.ejs"); %>

<body>
    <div id="home_container">
        <% articles.forEach(article => {%>

        <div class="card">
            <div class="title_card">
                <h2> <%= article.title %> </h2>
            </div>
            <div class="body_card">
                <button onclick="window.location.href = 'http://localhost:8080/<%= article.slug %>'">  LER </button>
            </div>
        </div>

        <% }); %>
    </div>

    <% if(slug == '') { %>
        <div class="row" id="pag" style="display: flex; justify-content: end;">
            <a href="/articles/page/2"> Próxima página </a>
        </div>
    <% } %> 
    
</body>

<%- include("partials/footer.ejs"); %>